<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} base {% endblock title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    {% if request.user.is_authenticated %}
    <!-- include navbar -->
    {% include "components/navbar.html" %} {% endif %}
    <!-- content block  -->
    {% block content %} Content {% endblock content %}
    <!-- footer  -->
    {% if request.user.is_authenticated %}
    <!-- include footer -->
    {% include "components/footer.html" %}
    <!-- endif  -->
    {% endif %}
  </body>
</html>
